.board {
  display: flex;
  border: 10px solid black;
  min-height: 600px;
}

.lane {
  width: 100%;
  background-color: #cacaca;
  border: 1px solid #929292;
  padding: 15px;
}

.card {
  background: #929292;
  color: white;
  min-height: 10vh;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 10px;
}